@media screen {

  #title-two{
    position: relative;
    right: 30px;
  }
} 

@media screen {
  .iconholder{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 1px;
  }
}